ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }
  button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  button:hover {
    background-color: grey;
    color: white;
  }
a {

    padding-top: 80px;
    padding-left: 80px;
    padding-left: 80px;
    
  }
div{
  padding-bottom: 10px;
  background-color: lightgray;
  color: black;
}  
  
  th {
    text-align: left;
    padding: 8px;
  }
  
 
  